body {
    padding-top: 70px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

table {
    text-align: left;
}

div.thumbnail img {
    max-height: 200px;
}

/*correction for add/remove buttons*/
div.form-inline form{
display:inline;
}

#confOrder h1{
    padding: 60px;
    margin: 160px;
}
